.header {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--primary-color);
  height: 60px;
  padding: 10px 15px;
  z-index: 100;
  box-shadow: 0px 0px 10px 3px #0003;
}

.nav-menu-link{
  font-size: 18px;
  text-decoration: none;
  color: white;
}

.nav {
  display: flex;
  justify-content: space-around;
}


.logo {
  margin: 0;
  width: 90px;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav a {
  font-size: 18px;
  text-decoration: none;
  color: white;
}

.nav-menu-link {
  padding: 8px 12px;
  border-radius: 3px;
}

.nav-menu-link:hover {
  background-color: rgba(255, 100, 100, 0.394);
  transition: 0.5s;
}

.login {
  /* gap: 20px; */
  width: 150px;
}

.signin {
  /* gap: 20px; */
  width: 150px;
}

.sesion{
  display: flex;
}
