@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@1,200&family=Fira+Sans:wght@700&display=swap");

.dashboard {
  display: flex;
  width: 100%;
  height: 100vh;
  grid-template-columns: 0.5fr 1fr;
  background-color: #ccc;
}

.cnttables{
  flex-grow: 1;
  displaY: grid;
  grid-gap: 50px;
  height: 100%;
  padding: 50px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.chart__container{
  border-radius: 20px;
  padding: 30px;
  background-color: white;
}

.titletable {
  font-size: 30px;
  font-family: "Fira Sans", sans-serif;
}

@media (max-width: 900px) {
    .titletable {
        font-size: 25px;
        font-family: "Fira Sans", sans-serif;
      }
}

@media (max-width: 600px) {
    .titletable {
        font-size: 20px;
        font-family: "Fira Sans", sans-serif;
      }
}
