.content{
    display: flex;
}

.menu{
    width: 300px;
    padding: 10px;
    padding-top: 40px;
    background-color: #591411;
}

@media (max-width: 600px) {
    .content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .menu{
        width: 100%;
    }
}