.container-register {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #591411;
  height: 100vh;
}

.container-register-form {
  display: flex;
  background-color: #ddd;
  justify-content: center;
  align-items: center;
}

.container-form-body {
  display: flex;
  justify-content: center;
  padding: 0;
}

.form-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.container-form-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0px 0px 10px 10px #0002;
  background-color: white;
}

.title-form {
  font-size: 35px;
  margin-bottom: 30px;
}

.text-form {
  text-align: left;
  margin: 5px;
}

.form-body .form-floating{
  width: 400px;
}

.button-check-register {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-form-register{
  margin-top: 30px;
}

.register-link{
  display: flex;
  flex-direction: column;
}

.button-check-register button{
  font-size: 18px;
}

.register-link a, .button-register:hover{
  color: #591411;
  background-color: transparent;
  border-color: #591411;
}

.register-link a:hover, .button-register{
  background-color: #591411;
  border-color: #591411;
  color: white;
}

/* Boton de google */
.google-logo {
  width: 30px;
}

.container-google {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid rgb(199, 199, 199);
  margin-top: 15px;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
}

.container-google:hover {
  cursor: pointer;
  filter: brightness(90%)
}

small{
  color: red;
}