.list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 20px;
    margin: auto;
    width: max-content;
}

.content{
    flex-grow: 1;
    margin: 30px;
}

@media (max-width: 450px) {
    .list{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px 0;
        margin: auto;
        width: max-content;
    }
    
    .content{
        flex-grow: 1;
        margin: 30px;
    }
    
}