@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@900&display=swap');

.bttmcontainer{
  margin: 20px;
  display: flex;
  justify-content: space-evenly;
}

.Buttonbet {
  align-items: center;
  background-color: #591411;
  padding: 20px;
  border: 0;
  color: white;
  margin: 20px;
  font-size: 20px;
  font-family: 'Work Sans', sans-serif;
  width: 300px;
}

.Buttonbet:hover {
  filter: brightness(80%);
  box-shadow: 0 2px 2px gray;
}

.team-name {
  font-size: 15px;
}
