.Button-bet{
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
    border: 1px solid inherit;
    background-color: rgb(255, 255, 255);
    padding: 1px;
    margin: 5px;
}

.Button-bet:hover{
    filter: brightness(80%);
}

.Button-bet:active{
    transform: scale(0.95);
}

.team-name{
    font-size: 15px;
}