.profile {
  flex-grow: 1;
  margin: 10px;
  border-radius: 20px;
  background-color: white;
}

.profile form {
  width: 500px;
  margin: auto;
  text-align: left;
}

.profile form div{
  margin: 20px;
}

.btnContainer button{
  margin-right: 20px;
}