.profile {
  flex-grow: 1;
  position: relative;
  margin: 10px;
}

.formContainer{
  width: 500px;
  margin: auto;
  padding: 10px;
  background-color: white;
  border-radius: 20px;
}

.profile form {
  text-align: left;
}

.avatar{
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 50% 50%;
  background-color: gray;
}

.avatar svg{
  width: 100%;
  height: 100%;
  filter: invert(100%);
}

.profile form div{
  margin: 20px;
}

.btnContainer button{
  margin: 10px 10px;
}