@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@1,200&family=Fira+Sans:wght@700&display=swap');

.formProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Fira Sans Condensed', sans-serif;
}

.titleInput{
  font-family: 'Fira Sans', sans-serif;
}

.inputProfile {
  background-color: rgb(255, 255, 255);
  width: 300px;
  padding: 12px 20px;
  border-radius: 8px;
  border: 0;
  box-shadow: 0 2px 2px rgb(216, 216, 216);
}

.buttonsProfile {
  display: flex;
  justify-content: space-between;
  
}

.button1 {
  border: none;
  width: 100px;
  margin: 18px 10px 18px 0;
  border-top-left-radius: 20px; 
  border-bottom-left-radius: 20px;
  background-color: #7c361a;
  color: white;
  cursor: pointer;
  transition: all 500ms ease;
}

.button1:hover {
  box-shadow: 0 4px 4px gray;
}

.button2 {
  border: none;
  width: 100px;
  padding: 12px 20px;
  margin: 18px 0;
  border-top-right-radius: 20px; 
  border-bottom-right-radius: 20px;
  background-color: #7c361a;
  color: white;
  cursor: pointer;
  transition: all 500ms ease;
}

.button2:hover {
  box-shadow: 0 4px 4px gray;
}