@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&family=Fira+Sans:wght@900&display=swap');

.matchdetail {
  background: url("../../Assets/Images/field.jpg");
  width: 100vw;
  height: 100vh;
}

.matchdetail {
  display: flex;
  flex-direction: column;
}

.text-vs {
  font-size: 40px;
  font-family: 'Fira Sans', sans-serif;
}

.team1{
  font-family: 'Fira Sans', sans-serif;
}

.name-teams {
  font-size: 20px;
  font-family: 'Fira Sans Condensed', sans-serif;
}

.details-content {
  margin: 150px;
  background-color: rgb(229, 229, 229);
  border: 1px solid rgb(221, 221, 221);
  border-radius: 50px;
  box-shadow: 0 10px 10px rgb(0, 0, 0);
  font-family: 'Fira Sans Condensed', sans-serif;
}

.cntleague {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.titleleague {
  font-size: 40px;
  font-family: "Work Sans", sans-serif;
}

.imgleague {
  width: 70px;
  margin: 0;
  padding: 0;
}

.cnt-teams {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-list-statistics {
  margin: 10px;
}
.item-statistics-good {
  color: green;
  font-size: 20px;
}

.item-statistics-bad {
  color: red;
  font-size: 18px;
}

.list-statistics {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}