@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@1,200&family=Fira+Sans:wght@700&display=swap');

.cntall{
  margin: 30px;
  font-family: 'Fira Sans Condensed', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.history {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select {
  height: 38px;
  width: 120px;
  padding: 0 10px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #ececec;
  color: black;
  align-items: center;
  justify-content: center;
}

.buscar {
  border: 0px solid;
  width: 80px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #7c361a;
  color: white;
  padding: 7px;
  cursor: pointer;
  transform: all 500ms ease ;
}

.title-history{
  font-family: 'Fira Sans', sans-serif;
}

.select:focus{
  border: 0;
}

.select:hover {
  background-color: #591411;
  color: white;
}

.buscar:hover {
  box-shadow: 0 4px 4px gray;
}
