.dashboard{
    display: flex;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

.container{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
    border-radius: 20px;
    background-color: white;
}

.container h1{
    width: 100%;
    padding: 20px;
    text-align: left;
}

.grid{
    flex-grow: 1;
    width: 100%;
}