.about_text {
    background-color: rgba(48, 44, 78, 0.637);
    color: rgb(250, 239, 239);
    width: 70%;
    padding: 200px 0 0 180px;
    font-family: "Zen Dots", cursive;
  font-size: 20px;
  font-weight: 10;
  }
  