@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@1,200&family=Fira+Sans:wght@700&display=swap");

.team-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cntimgandphoto {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
}

.Adbilbet-team {
  font-size: 40px;
  font-family: "Fira Sans", sans-serif;
  align-items: center;
  margin: 20px;
}

.team-member {
  width: calc(25% - 90px);
  text-align: center;
  font-family: "Fira Sans", sans-serif;
  border: 1px solid rgb(231, 231, 231);
  border-radius: 20px;
  padding: 30px;
  margin: 30px;
  background-color: rgb(243, 243, 243);
  box-shadow: 0 10px 10px rgb(155, 155, 155);
  min-width: 350px;
  max-height: 400px;
  align-items: center;
}

.team-member-photo {
  width: 180px;
  border-radius: 90px;
}

.team-description {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  font-family: "Fira Sans Condensed", sans-serif;
}

.GHyLDn {
  font-size: 30px;
}

.description-text {
  font-size: 20px;
  max-width: 900px;
}

.name-member {
  font-size: 20px;
  margin: 0;
}

.lema {
  font-size: 15px;
  max-width: 400px;
  margin: 15px;
}

.ocupation {
  font-size: 13px;
}

@media (max-width: 700px) {
  .GHyLDn {
    font-size: 13px;
  }

  .member-info{
    padding-top: 17px;
  }

  .Adbilbet-team {
    font-size: 20px;
    font-family: "Fira Sans", sans-serif;
  }

  .team-member {
    padding: 10px;
    margin: 10px;
    min-width: 180px;
    max-height: 220px;
  }

  .team-member-photo {
    width: 45px;
    border-radius: 90px;
  }

  .team-description {
    margin: 5px;
  }

  .member-info{
    max-width: 90px;
  }

  .description-text {
    font-size: 15px;
    max-width: 300px;
    margin: 20px;
  }

  .name-member {
    font-size: 12px;
  }

  .lema {
    font-size: 11px;
    max-width: 400px;
    margin: 15px;
  }

  .ocupation {
    font-size: 9px;
  }
}
