.card {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin: 12px;
  outline: 1px solid rgb(210, 210, 210);
  width: max-content;
  box-shadow: 0 4px 8px #0006;
  transition: all 500ms ease;
}

.card:hover{
  transform: scale(1.05);
  box-shadow: 0 8px 8px #0006;
}

.Link {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
}

.buttons{
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 20px;
  background-color: #ccc;
}

.buttons button{
  color: white;
  border-radius: 5px;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.league {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.cntteams {
  margin: 20px;
}

.teams {
  display: flex;
  flex-direction: column;
  color: black;

  outline: 1px solid rgb(214, 214, 214);
  min-width: 400px;
}

.teams span:nth-child(2) {
  margin: 0 9px;
}

.cntlogo {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #ccc;
}

.logo {
  width: 50px;
}

.home-team,
.away-team {
  display: flex;
  align-items: center;
  color: black;
}

.date {
  font-size: 16px;
  margin-bottom: 20px;
  color: black;
}

.score {
  font-size: 20px;
  font-weight: bold;
}